!!!
%html
  %head
    %title busy_hacker - Weekly email summarizing the hottest Hacker News Posts
    %link{:rel => 'stylesheet', :href => '/css/reset.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css', :media => 'all'}
  %body
    #header
      %h1
        Busy
        %span.white Hacker
    #main_content
      %h2= @message || ""
      %form{:action => '/subscribe', :method => 'post'}
        %label{:for => 'subscribe'} Subscribe
        %input{:name => 'address', :type => 'text'}
        %input{:type => 'submit', :value => 'Do it'}

      #test
        %h2 Top Articles
        %ol
          = @top_articles.each do |t|
            %li= "#{t['title']} => [#{t['score']}]"
