!!!
%html
  %head
    %title busy_hacker - Weekly email summarizing the hottest Hacker News Posts
    %link{:rel => 'stylesheet', :href => '/css/reset.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css', :media => 'all'}
  %body
    #header
      #banner
        %h1
          Busy
          %span.white Hacker
    #main_content
      %p.intro
        Weekly email round-up of the most interesting articles on Hacker
        News.
      %form{:action => '/subscribe', :method => 'post', :id => 'subscribe'}
        %input{:name => 'address', :value => 'your email address', :type => 'text', :class => 'text'}
        %input{:type => 'submit', :value => 'Do it', :class => 'submit' }

      .clear

      %h2  Current Top Articles
      #articles
        %ol
          = @top_articles.each do |t|
            %li
              %a{:href => "#{t['url']}"}= "#{t['title']} &raquo;"
              %span.votes= "#{t['score']}"
